@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Mochiy+Pop+One&family=Permanent+Marker&family=Roboto:ital,wght@0,100;0,500;0,700;1,100&family=Fraunces&family=Poppins:ital,wght@0,400;0,600;1,400&display=swap');
/* import fonts: 'Cinzel' , 'Mochiy Pop One', 'Permanent Marker', 'Roboto', 'Fraunces', 'Poppins' */


html {
    /* footer support */
    position: relative;
    min-height: 100%;
}

body{
    /* to remove header whitespace */
    margin:0;
    padding:0;
    background-color: rgba(103, 167, 130, 0.411);
}

button {
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    outline: none;
  }

header {
    width: 100%;
}

h1 {
    font-family: 'Roboto';
    font-weight: 700;
    color: #333;
}

header h1 {
    font-size: 56px;
    text-align: center;
    background-color:rgba(55, 216, 216, 0.833);
    margin: 0;
    padding: 1.4vh;

}

main {
    padding: 40px 40px;

}

.player-message{
    font-size: 30px;
    font-family: 'Mochiy Pop One';
    font-weight: 50;
    color: rgb(46, 163, 52);
    text-align: center;
    margin: 0;
    padding-bottom: 1.4vh;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 454px;
    height: 454px;
    border: 8px solid #333;
    margin: 0px auto;
}

.box {
    width: 150px;
    height: 150px;
    border: 1px solid #333;
    background-color: #9393dd;
    font-family: 'Permanent Marker';
    font-size: 100px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.center{
    display: flex;
    justify-content: center;
    padding: 30px;
}

.reset-button {
    padding: 10px 20px;
    border: 3px solid  #333;
    border-radius: 7px;
    background-color:  rgba(55, 216, 216, 0.833);
    color: #333;
    font-size: 30px;
    
    
  }






/* Footer Styling */
a {
    text-decoration:none;
    color: inherit
  }
  
  .footer {
    font-family: 'Mochiy Pop One';
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    font-size: 16px;
  }
  
  .xn-github {
    color: black;
    font-size: 10px;
    transition: transform 0.3s ease-in-out;
    margin-bottom: -4px;
  }
  
  .xn-github:hover {
    transform: rotate(360deg) scale(1.2);
  }